 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html,
 body {
     height: 100%;
     font-family: Arial, sans-serif;
     line-height: 1.5;
 }

 body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-color: #F3F5FC;
     color: #000000;
 }

 footer {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     text-align: center;
     font-weight: bold;

 }

 .header {
     position: absolute;
     top: 0;
     left: 0;
     padding: 20px;
 }

 .header img {
     height: 40px;
     width: auto;

 }

 .main {
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: calc(100vh - 60px);
 }

 /*SECCION DEL ENCRIPTADOR*/
 .seccion__encriptador {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     margin-left: 240px;
     height: 100%;
 }

 .textoAEncriptar {
     flex-grow: 1;
     font-family: "Inter", sans-serif;
     background-color: #F3F5FC;
     resize: none;
     border: none;
     width: 680px;
     height: auto;
     margin-top: 100px;
     color: #0A3871;
     font-size: 32px;
     font-weight: 400
 }

 textarea::placeholder {
     color: #0A3871;
     font-size: 32px;
     font-weight: 400;
 }
 .textoAEncriptar:focus {
    outline: none;
}

 .condicionesTexto {
     display: flex;
     align-items: center;
     font-size: 12px;
     gap: 8px;
     color: #495057;
     margin-top: 50px;
     margin-bottom: 16px;
 }

 .condicionesTexto img {
     height: 16px;
     width: auto;
 }

 button {
     border: 1px solid #0A3871;
     font-family: "inter", sans-serif;
     font-weight: 400;
     font-size: 16px;
     cursor: pointer;
     border-radius: 24px;
     transition: transform 0.1s ease, background-color 0.1s ease;
     width: 328px;
     height: 67px;
 }

 .botones__encriptar__desencriptar {
     display: flex;
     gap: 24px;
     margin-bottom: 50px;
 }

 .boton__encriptar {
     background-color: #0A3871;
     color: white;
 }

 .boton__desencriptar {
     background-color: #F3F5FC;
     color: #0A3871;
 }

 .boton__encriptar:hover {
     background-color: #004085;
 }

 .boton__encriptar:active {
     transform: scale(0.95);
     background-color: #004085;
 }

 .boton__desencriptar:hover {
     background-color: #AAB2D5;
 }

 .boton__desencriptar:active {
     transform: scale(0.95);
     background-color: #AAB2D5;
 }

 /*SECCION DEL RESULTADO*/
 .seccion__resultado {
     display: flex;
     flex-direction: column;
     width: 400px;
     height: 900px;
     margin-right: 240px;
     margin-bottom: 70px;
     margin-top: 30px;
     background-color: white;
     border: 1px solid #000000;
     border-radius: 32px;
     align-items: center;
     justify-content: center;
 }

 .noSeEncontroMensaje {
     text-align: center;
     padding: 0px 20px 0px 20px;
     margin-bottom: 10px;
     font-size: 24px;
     font-weight: bold;
 }
 .mensajeIncreseTexto {
    padding: 0px 20px 0px 20px;
    text-align: center;
}

.boton__visible {
    align-items:flex-end;
    justify-content: flex-end;
}


 .boton__copiar:hover {
     background-color: #E9ECF8;
 }

 .boton__copiar:active {
     transform: scale(0.95);
     background-color: #F3F5FC;
 }


 .mensajeEncriptado {
    font-size: 24px;
    color: #495057;
    font-weight: 400;
    margin-top: 20; /* Alinea el párrafo al inicio del contenedor */
    width: 100%; /* Hace que el párrafo ocupe el 100% del ancho disponible */
    word-wrap: break-word; /* Fuerza a que las palabras largas se corten y envuelvan a la siguiente línea */
    overflow-y: auto; /* Permite el scroll vertical si el contenido es demasiado largo */
    white-space: pre-wrap; /* Mantiene los saltos de línea y envuelve el texto automáticamente */
    padding: 20px; /* Espacio interior para que el texto no quede pegado a los bordes */
    box-sizing: border-box; /* Incluye padding y border dentro de las dimensiones del elemento */
    max-height: calc(100% - 60px); 

}

.boton__copiar {
    display: none;
    background-color: white;
    border-color: #0A3871;
    color: #0A3871;
    align-self: flex-end; /* Alinea el botón al final del contenedor */
    margin-top: auto; /* Empuja el botón hacia abajo */
    margin-bottom: 15px;
}