* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F3F5FC;
    color: #000000;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input, button, textarea, select {
    font: inherit;
}
.header {
    display: flex;
    margin-bottom: 20px;
}
.header img {
    height: 40px;
    width: auto;
}
.main {
    width: 100;
    display: flex;
    justify-content:space-between;
}

.seccion__encriptador {
}
.seccion__resultado {
    background-color: white;
    border: 1px solid #000000;
    border-radius: 32px;

}

.condicionesTexto {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 8px;
    color: #495057;   
}
.condicionesTexto img {
    height: 16px;
    width: auto;
}